/*====================================================================
	left menu
======================================================================*/
div#submenu {
    width:160px;
    margin:10px 10px 10px 200px;
    float:left;
    background-color:white;
    border:double;
}

div#submenu_header {
    display:block;
    background-color:green;
    font-size:2em;
    font-weight:900;
    text-align:center;
}
ul#submenu_body {
    display:block;
    list-style:none;
    text-align:left;
    
     
}
ul#submenu_body li a {
    text-decoration:none;
    color:#000000
}

ul#submenu_body li {
    margin-bottom:5px;

}

ul#submenu_body li a:hover {
    background-color:aqua
}

/*====================================================================
	content
======================================================================*/
div#content {
    width:850px;
    margin:10px 10px 10px 10px;
    float:left;
    background-color:white;
    border:double;
    
}
div#content_header {
    display:block;
    background-color:green;
    font-size:2em;
    font-weight:900;
    text-align:center;
   
}

div#content_body {
  
}

/*====================================================================
    rightmenu
======================================================================*/

div#rightmenu {
    width:160px;
    margin:10px 200px 10px 10px;
    float:left;
    background-color:white;
    border:double
}

div#rightmenu_header {
    display: block;
    background-color: green;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
}

ul#rightmenu_body {
    display: block;
    list-style: none;
    text-align: left;
}

ul#rightmenu_body li a {
    text-decoration:none;
    color:black
}

ul#rightmenu_body li {
    margin-bottom: 5px;
}

ul#rightmenu_body li a:hover {
        background-color: aqua
    }

/*====================================================================
	other
======================================================================*/

div#big {
	font-size:9em;font-weight:900}

div#blink {
	animation: blink 1.0s step-end infinite alternate;
}

div#title {
	font-size: 7em;
	font-weight: 900;
	animation: blink 1.0s step-end infinite alternate;
	text-align:center
}


div#back {
    background-color:red
}

div#mark {
    background-color:yellow;
    font-size:4em;
    font-weight:900;
    text-align:center;
}

/*====================================================================
	welcome
======================================================================*/

div#welcomelink {
    text-align: center;
    font-size: 3em;
    color: deeppink;
    animation:welcomelink 2.0s step-end infinite alternate
}
    div#welcomet {
    font-size: 7em;
    font-weight: 900;
    color:aqua;
    animation: welcome 1.0s step-end infinite alternate;
    text-align: center
}
div#welcometext {
    font-size: 2em;
    font-weight: 900;
    /*animation: welcometext 1.0s step-end infinite alternate;*/
    color:aqua;
    text-align: center;
    width:100%
}

/*====================================================================
	keyframe
======================================================================*/
@keyframes blink{
    21%,40%,61%,80%,100% {opacity:1;color:yellow ;background-color:deepskyblue}
    0%,20%,41%,60%,81%,99% {opacity:1;color:red ;background-color:white}
}
@keyframes welcome {
    21%,40%,61%,80%,100% {
        opacity: 1;
        color: yellow;
        background-color:blueviolet
    }

    0%,20%,41%,60%,81%,99% {
        opacity: 1;
        color: red;
        background-color: forestgreen
    }
}
@keyframes welcomelink {
    0%,50%,100% {
        position: absolute;
        top: 50%;
        left:20%;
        color: aqua
    }

    25%,75% {
        position: absolute;
        top: 53%;
        left:60%;
        color: aqua
    }
    /*@keyframes welcometext {
    0%,50%,100%{
        
        position:absolute;
        top:50%;
        color:aqua
        
    }

    25%,75% {
        
        position:absolute;
        top:53%;
        color: aqua
    }
}*/